@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 44px;
  color: #313131;
}

.blue {
  color: rgb(90, 79, 250);
}

#header {
  height: 100vh;
}

header {
  padding: 0 20px;
  position: relative;
}

p {
  line-height: 1.5;
  font-size: 15px;
}

.small__title {
  font-size: 12px;
  font-weight: 600;
}
/* NAVIGATION BAR  */

.header__left--deco {
  position: absolute;
  right: 92vw; /* Adjusted to viewport width */
  top: 35vh; /* Adjusted to viewport height */
  transform: scale(0.9);
  filter: opacity(20%);
}

.nav__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  margin-bottom: 56px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 120px;
}

.logo__img--wrapper {
  display: flex;
  align-items: center;
  width: 20%;
}

.logo__img {
  width: 100%;
}

.logo__text {
  display: flex;
  font-size: 24px;
  font-weight: 900;
  width: 80%;
  justify-content: center;
}

.links {
  display: flex;
  width: 100%;
  max-width: 800px;
}

.generic__links {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin-right: 16px;
  align-items: center;
}

.user__links {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  margin-left: 16px;
}

.generic__link,
.user__link {
  text-decoration: none;
  font-weight: 600;
  color: rgb(97, 96, 96);
  font-size: 0.8rem;
  transition: all ease 300ms;
  border-bottom: 2px solid transparent;
}

.generic__link:hover,
.user__link:hover {
  color: rgb(90, 79, 250);
  border-bottom: 2px solid rgb(90, 79, 250);
}

.sign__up--wrapper {
  display: flex;
  background-color: rgb(90, 79, 250);
  padding: 8px 24px;
  border-radius: 50px;
  transition: all ease 300ms;
}

.sign__up--wrapper:hover {
  background-color: rgb(67, 57, 202);
  cursor: pointer;
}

.signup__link {
  text-decoration: none;
  font-weight: 600;
  color: white;
  font-size: 0.8rem;
}

/* HEADER DESCRIPTION */
.header__description {
  display: flex;
  height: 500px;
  width: 100%;
}

.header__text--container {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px;
}

.email__input--container {
  position: relative;
  width: 100%;
}
.email__input {
  width: 80%;
  padding: 16px;
  border: 2px solid rgb(217, 224, 224);
  border-radius: 50px;
}

.email__input--container input {
  width: 100%;
  padding-right: 50px;
}

.email__input--container button {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: rgb(90, 79, 250);
  padding: 12px 20px;
  border-radius: 50px;
  transition: all ease 300ms;
}

.email__input--container button:hover {
  background-color: rgb(67, 57, 202);
  cursor: pointer;
}

.getstarted__button {
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
}

.customers__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.trusted__customers--text {
  font-size: 12px;
  font-weight: 700;
  color: rgb(160, 160, 160);
  margin-bottom: 4px;
}

.trusted__customers {
  width: 80%;
  filter: opacity(60%);
}

.header__img--wrapper {
  padding: 36px;
  width: 65%;
}

.header__img {
  width: 100%;
  height: 100%;
}

/* FEATURES & SERVICES  */

.features__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__para {
  color: rgb(129, 129, 129);
  margin: 16px 0;
  text-align: center;
  width: 40%;
}

.services {
  width: 70%;
}

.services__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.service {
  width: calc(100% / 3);
  margin: 30px 0;
}

.service__container {
  display: flex;
}

.service__img--wrapper {
  margin-right: 8px;
  text-align: center;
}

.fa-shield-virus,
.fa-headset,
.fa-sliders,
.fa-arrows-up-down-left-right,
.fa-bolt,
.fa-person-breastfeeding {
  color: rgb(90, 79, 250);
  padding: 12px;
  border: 1px solid rgb(231, 230, 230);
  border-radius: 100%;
}

.service__description {
  padding-right: 40px;
}

.service__description h4 {
  margin-bottom: 8px;
  color: rgb(49, 49, 49);
}

.service__description p {
  line-height: 1.5;
  font-size: 13px;
  color: rgb(129, 129, 129);
  font-weight: 500;
  padding-right: 30px;
}

/* QUALITY WORK  */

#quality__work .row {
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quality__text--container {
  margin-right: 36px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.quality__text--container h1 {
  padding-right: 16px;
  margin-top: 16px;
}

.quality__text--container p {
  color: rgb(129, 129, 129);
  margin-top: 16px;
}

.quality__text--container button {
  border: none;
  background-color: rgb(90, 79, 250);
  padding: 12px 20px;
  border-radius: 50px;
  font-weight: 600;
  color: white;
  font-size: 0.8rem;
  margin-top: 16px;
  transition: all ease 300ms;
}

.quality__text--container button:hover {
  background-color: rgb(67, 57, 202);
  cursor: pointer;
}

.quality__img--wrapper {
  width: 50%;
  height: 100%;
  background-color: white;
}

.quality__img--wrapper figure {
  position: relative;
}

.quality__img {
  width: 100%;
  border: 1px solid rgb(248, 247, 247);
  display: block;
}

.fa-arrow-up-right-dots {
  position: absolute;
  font-size: 36px;
  right: 0; /* Stick to the right corner */
  bottom: 0; /* Stick to the bottom corner */
  z-index: -1;
  transform: translate(40%, 25%); /* Slight adjustment to prevent clipping */
  margin-right: 8px;
}

/* STEPS */

#steps .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.steps__img--wrapper {
  width: 40%;
}

.steps__img--wrapper figure {
  position: relative;
}

.laptop__img {
  width: 100%;
}

.laptop__icon--wrapper {
  height: 100px;
  position: absolute;
  right: 50%;
  bottom: 0;
  z-index: -1;
  transform: translate(50%, 50%);
}

.laptop__icon {
  height: 100%;
  filter: opacity(10%);
}

.steps__text--container {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.steps__text--container h1 {
  margin: 20px 0;
}

.steps__text--container ul {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.step {
  display: flex;
  margin: 16px 0;
}

.step__number {
  font-size: 36px;
  margin: 0 12px;
  width: 10%;
}

.step__number span {
  font-weight: 600;
  font-size: 32px;
  color: rgb(218, 218, 216);
}

.step__text {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 8px;
}

.step__title {
  font-size: 16px;
  margin-bottom: 8px;
  color: #313131;
}

.step__text p {
  font-size: 13px;
  font-weight: 600;
  color: #818181;
}

/* STEPS  */
#values .row {
  display: flex;
  width: 100%;
  justify-content: center;
}

.values__text--container {
  width: 50%;
  padding-left: 48px;
}

.values__text--container h1 {
  margin: 14px 0;
  padding-right: 64px;
}

.values__para {
  margin: 14px 0;
  color: #818181;
  padding-right: 80px;
}

.values__img--wrapper {
  width: 50%;
}

.values__img {
  width: 90%;
}

.principles {
  display: flex;
  margin: 14px 0;
}

.affordable,
.professionalism {
  width: 50%;
}

.affordable__title,
.professionalism__title {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.affordable__title h4,
.professionalism__title h4 {
  color: #313131;
}

.affordable__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  background-color: rgb(135, 218, 135);
  border-radius: 100%;
  margin-right: 8px;
}

.professionalism__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  background-color: rgb(238, 172, 151);
  border-radius: 100%;
  margin-right: 8px;
}

.principles p {
  width: 70%;
  font-size: 13px;
  color: #818181;
}

.values__text--container button {
  border: none;
  background-color: rgb(90, 79, 250);
  padding: 12px 20px;
  border-radius: 50px;
  font-weight: 600;
  color: white;
  font-size: 0.8rem;
  margin-top: 16px;
  transition: all ease 300ms;
}

.values__text--container button:hover {
  background-color: rgb(67, 57, 202);
  cursor: pointer;
}

/* PRICING  */

#pricing .row {
  display: flex;
  flex-direction: column;
}

.pricing__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__para {
  text-align: center;
  color: #818181;
  width: 60%;
}

.pricing__description h1 {
  margin: 20px 0;
}

.pricing__plans {
  margin: 36px auto;
  height: 450px;
  width: 90%;
  display: flex;
}

.plan {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal__plan--container {
  border: 1px solid rgb(214, 210, 210);
  border-radius: 5px;
  width: 75%;
  height: 100%;
  text-align: center;
  box-shadow: 0 0.2px 3px 0.3px #d7d8da;
}

.green__border {
  padding: 2px 0;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.business__plan--container {
  border: 1px solid rgb(214, 210, 210);
  border-radius: 5px;
  width: 75%;
  height: 100%;
  text-align: center;
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  box-shadow: 0 0.2px 3px 0.3px #d7d8da;
}

.business__plan--container h4,
.business__plan--container .plan__price,
.business__plan--container .monthly,
.business__plan--container .plan__description span,
.business__plan--container .plan__description ul li {
  color: white;
}

.enterprise__plan--container {
  border: 1px solid rgb(214, 210, 210);
  border-radius: 5px;
  width: 75%;
  height: 100%;
  text-align: center;
  box-shadow: 0 0.2px 3px 0.3px #d7d8da;
}

.red__border {
  padding: 2px 0;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.plan__price--container {
  height: 35%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgb(214, 210, 210);
}

.plan__price--container h4 {
  padding: 20px 0;
}

.plan__price {
  font-size: 30px;
  font-weight: 700;
}

.monthly {
  font-size: 13px;
  font-weight: 600;
  color: rgb(151, 150, 150);
  margin: 20px 0;
}

.plan__description {
  border-bottom: 2px solid rgb(214, 210, 210);
  padding: 20px 0;
  height: 50%;
}

.plan__description span {
  color: #313131;
  font-weight: 700;
}

.plan__description ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 80%;
  margin: 20px 0;
}

.plan__description ul li {
  height: calc(100% / 4);
  font-size: 12px;
  font-weight: 500;
  color: #818181;
}

.buynow__btn--wrapper {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personal__buynow--btn {
  border: none;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  padding: 12px 32px;
  border-radius: 50px;
  font-weight: 700;
  color: white;
  box-shadow: 1px 1px 2px 0.4px #a5adc5;
  font-size: 0.7rem;
  transition: all ease 300ms;
}

.business__buynow--btn {
  border: none;
  background-color: white;
  padding: 12px 32px;
  border-radius: 50px;
  font-weight: 700;
  color: rgb(100 21 255);
  box-shadow: 1px 1px 1px 0.4px #a5adc5;
  font-size: 0.7rem;
  transition: all ease 300ms;
}

.enterprise__buynow--btn {
  border: none;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  padding: 12px 32px;
  border-radius: 50px;
  font-weight: 700;
  color: white;
  box-shadow: 1px 1px 1px 0.4px #a5adc5;
  font-size: 0.7rem;
  transition: all ease 300ms;
}

.buynow__btn--wrapper button:hover {
  cursor: pointer;
  transform: translate(0.5%, -1%);
  box-shadow: 0 2px 10px 0.5px #777779;
}

.business__plan--container .buynow__btn--wrapper button:hover {
  cursor: pointer;
  transform: translate(0.5%, -1%);
  box-shadow: 0 1px 5px 0.5px #4a4a4b;
}

/* TESTIMONIALS  */
#testimonials .row {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonials__img--wrapper {
  width: 50%;
  text-align: center;
}

.testimonials__img {
  width: 90%;
}

.testimonials__text--container {
  width: 50%;
  padding-left: 56px;
}

.testimonials__text--container h1,
.testimonials__text--container p {
  margin: 14px 0;
}

.testimonials__text--container p {
  color: #9e9e9e;
  font-weight: 500;
  margin-right: 60px;
}

.review {
  height: 55%;
}

.stars {
  display: flex;
  width: 17%;
  justify-content: space-between;
  margin-bottom: 14px;
}

.review h4 {
  margin: 8px 0;
}

.review p {
  font-size: 13px;
  font-weight: 500;
  margin-right: 60px;
}

.review__person--container {
  display: flex;
  justify-content: space-between;
  margin: 14px 0;
}

.review__person {
  display: flex;
  width: 50%;
  align-items: center;
}

.review__img--wrapper {
  height: 50px;
  border-radius: 100px;
  overflow: hidden;
}

.review__img {
  height: 100%;
  transform: scale(1.2);
}

.name__job {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}

.job__title {
  font-size: 13px;
  font-weight: 500;
  color: rgb(124 139 161);
}

.arrows {
  display: flex;
  width: 50%;
  justify-content: end;
  align-items: center;
  font-size: 14px;
  margin-right: 48px;
}

.arrows__wrapper {
  display: flex;
  height: 100%;
  align-items: center;
}

.arrow__button--wrapper {
  height: 35px;
  width: 35px;
  border-radius: 100px;
  background-color: rgb(229, 229, 245);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 300ms;
}

.arrow__button--wrapper:hover {
  background-color: rgb(218, 218, 240);
  cursor: pointer;
}

.middle__border {
  border-left: 1px solid rgb(216, 215, 215);
  height: 30%;
  margin: 0 8px;
}

.fa-arrow-left,
.fa-arrow-right {
  font-size: 13px;
}

/* FAQS  */
#faqs .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faqs__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faqs__description h1 {
  margin: 14px 0;
}

.faqs__description p {
  text-align: center;
  width: 70%;
  color: #9e9e9e;
  font-weight: 500;
}

.question__list {
  margin-top: 36px;
  width: 60%;
}

.question__container {
  font-weight: 500;
  background-color: rgb(237 242 247);
  padding: 12px 24px;
  margin: 16px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease 300ms;
}

.question__container:hover {
  cursor: pointer;
  background-color: rgb(228, 229, 231);
}

/* GET STARTED  */

#get__started .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.get__started--container {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: center;
  background-color: rgb(90, 79, 250);
  height: 180px;
  border-radius: 5px;
}

#get__started h2 {
  width: 40%;
  color: white;
}

.buttons__container {
  display: flex;
  justify-content: space-between;
  width: 26%;
}

.getstarted__btn {
  border: none;
  background-color: rgb(245 101 101);
  padding: 16px 32px;
  border-radius: 50px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px 0.4px #a5adc5;
  font-size: 0.7rem;
  transition: all ease 300ms;
}

.contact__us {
  border: 0.5px solid white;
  background-color: transparent;
  padding: 16px 32px;
  border-radius: 50px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-size: 0.7rem;
  transition: all ease 300ms;
}