@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Global Classes */

.container {
  padding: 70px 0;
}

.row {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.blue__text {
  color: rgb(100 21 255);
}

h2 {
  font-size: 3rem;
  font-weight: 800;
}

/* Nav Bar */
#nav_bar > .row {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.letter__t--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  background-color: rgb(100, 21, 255);
  border-radius: 2px;
  margin-right: 12px;
}

.letter__t {
  color: white;
  font-size: 24px;
  font-weight: 800;
}

.treact {
  font-size: 24px;
  font-weight: 800;
  color: #243e63;
  transition: all ease 200ms;
}

.treact:hover {
  color: rgb(100, 21, 255);
  cursor: pointer;
}

.nav__bar--links {
  display: flex;
  width: 60%;
  justify-content: end;
  align-items: center;
}

.nav__generic--links {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 24px;
}

.nav__generic--links > li {
  font-size: 14px;
  margin: 0 24px;
  font-weight: 600;
  position: relative;
  transition: all ease 200ms;
}

.nav__user--links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__user--links > li {
  font-size: 14px;
  margin: 0 24px;
  font-weight: 600;
  position: relative;
  transition: all ease 200ms;
}

.nav__generic--links li:hover,
.nav__user--links li:hover {
  cursor: pointer;
  color: rgb(100, 21, 255);
}

.link__underline {
  position: absolute;
  transform: translateY(3px);
  background-color: transparent;
  width: 2%;
  height: 2px;
  transition: all ease 300ms;
}

.nav__generic--links li:hover .link__underline,
.nav__user--links li:hover .link__underline {
  background-color: rgb(100, 21, 255);
  width: 100%;
}

.signup__btn {
  text-align: center;
  font-size: 14px;
  margin: 0 12px;
  font-weight: 600;
  color: white;
  background-color: rgb(100, 21, 255);
  padding: 12px 28px;
  border-radius: 50px;
  transition: all ease 300ms;
}

.signup__btn:hover {
  background-color: rgb(59, 7, 162);
  cursor: pointer;
}
